<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подтверждение регистрации</title>
</head>
<body>

<div class="main" style='margin: 0px auto;
			max-width: 605px;'>

    <img src="http://pre-static.istudentapp.ru/notifLibsFiles/confirmRegistration.png" alt="">

    <a href="%s" id='buttonConfirm' style='color:#4a90e2;
			font-size: 16px;
			font-family: sans-serif;
			text-decoration: none;
			display: block;
			padding: 11px;
			position: absolute;
			margin-top: -247px;
			margin-left: 390px;
			border: solid 2px;
			border-radius: 11px;'>Подтвердить</a></p>
</div>

</body>
</html>

